
# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=root
DB_PASSWORD=
DB_ASYNC=true

JWT_SECRET=daloyeuemnhieu
MEDIA_STORE=./uploads

# Email service
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=dinhmanh20112000@gmail.com
EMAIL_PASSWORD=special


#Firebase service

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379